/*
 current color: #ff475a
*/


* {

    margin: 0;
    padding: 0;
    border: none !important;
    line-height: 133%;
    direction: ltr;
}

body, input, textarea, select, option, optgroup, button {
    color: rgb(50, 50, 50);
    font-family: 'Open Sans';
    font-size: 15px;
    letter-spacing: 1px;
}

a:focus, input:focus, textarea:focus, select:focus, button:focus {

    outline: none !important;
}

a:focus, select:focus, button:focus {
    text-shadow: 1px 1px 13px #ff475a;

}

textarea {
    resize: none;
}

pre {
    overflow: auto;
}

input, button {
    background-color: transparent;
}

input[type=submit], button, .button {
    cursor: pointer;
    font-family: 'Gabriela';
    font-size: 20px;
}

input[type=submit]:hover, button:hover, .button:hover {

    color: #ff475a;
}

input[type=submit]:active, button:active, .button:active {

    color: #e40000;
}

.context-menu {
    background-color: rgb(42, 42, 42);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    color: #ffffff;
}

.context-menu * {
    color: #ffffff;
}

::selection {
    background-color: #ff909a;
    color: inherit;
}

body {
    position: relative;
    height: 100%;
    min-width: 400px;
    cursor: default;
    direction: ltr;
}

.loading {
    display: none;
    font-family: 'Gabriela';
    -webkit-animation:fade-in-out 500ms infinite alternate;
    animation:fade-in-out 500ms  infinite alternate;
}
.loading:before,.loading:after {
    font-family: inherit;
}


.loading.more-articles {
    margin: 10px 0 20px 0;
    width: 100%;
    max-width: 600px;

    font-size: 25px;
    text-align: center;
}

.loading.more-articles:after {
    content: 'Relfor';
}
.loading.more-comments{
    margin-bottom: 25px;
    font-size: 20px;
}
.loading.more-comments:after {
    content:'Loading Comments';
}

a {
    text-decoration: none;
    color: inherit;
}

.normal-link, .article-content a {
    color: #ff475a;
}

.normal-link:active, .article-content a:active {
    color: #e40000;
}

.hover-link:hover {
    color: #ff475a !important;
}

.hover-link:active {
    color: #e40000 !important;
}

.gab {
    font-family: 'Gabriela';
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

th {
    text-align: left
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 20px;

}

h3 {
    font-size: 18px;
}

h6 {
    font-size: inherit;
}

/* Source: http://nicolasgallagher.com/micro-clearfix-hack/ */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.color {
    color: #ff475a;
}

.px40 {
    font-size: 40px !important;
}

.no-animation {
    -webkit-animation: none !important;
    animation: none !important;
}

.slide-left {
    -webkit-animation: slide-left-fade-in 520ms;
}

.article-content, .article-content * {
    line-height: 1.5em;
}

.article-content ul > li {
    margin: 5px 0 5px 21px;
    list-style: circle;
}



.article-content ul,
.article-content table {
    width: 100%;
    margin: 10px 0;
}

.article-content p {
    margin: 6px 0;
}

.article-content h1, .article-content h2, .article-content h3,
.article-content h4, .article-content h5, .article-content h6 {
    margin: 18px 0 10px 0;
    line-height: 133%;
}

.article-content td, .article-content th {
    vertical-align: top;
    padding: 5px 7px;
}

.article-content tr td:first-child,
.article-content tr th:first-child {
    padding-left: 0;
}

.article-content tr td:last-child,
.article-content tr th:last-child {
    padding-right: 0;
}

#left-side {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: fixed;
    height: 100%;
    width: 15%;
    padding-top: 50px;
    color: black;
    background-color: transparent;

}

#left-side, #left-side * {
    font-family: 'Gabriela';
}

#head-logo {
    cursor: default;
    font-size: 40px;
    text-align: right;
}

#head-logo:active, a:active{
   -webkit-transform:translate(0, 3px);
}


#left-nav {
    margin-top: 35px;
}

#left-nav input:focus {
    outline: none;
    color: gray;
}

#left-nav a, #left-nav input {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 8px 0;
    cursor: pointer;
    display: block;
    text-align: right;
    font-size: 20px;
    color: gray;

    -webkit-transition: color 200ms;
    transition: color 200ms;
}

#left-nav a.selected-nav {
    cursor: default;
    color: #ff475a !important;
}


#right-side {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-top: 50px;
    width: auto;
    margin-left: 21%;
    -webkit-animation: slide-left-fade-in 520ms;
}

#right-side.constricted {
    width: 670px;
}

#articles > li {
    margin-bottom: 40px;
    list-style-type: none;
}

.article-head {
    margin-bottom: 19px;
    font-family: 'Gabriela';
    color: black;
    line-height: 110%;
    font-size: 40px;
}

.article-head a {
    line-height: 110%;
}

.article > div:first-child {
    float: left;
    margin-bottom: 10px;
    width: 600px;
    max-width: 600px;
    -webkit-animation: slide-down-fade-in 520ms;
}

.article div {
    font-family: 'Open Sans';

}

.article-meta {
    float: left;
    margin-left: 3%;
    width: 300px;
    max-width: 300px;
    padding-top: 50px;
    -webkit-animation: slide-left-fade-in 1020ms;
}

.article-meta > div:first-child {
    margin-bottom: 15px;
    text-align: center;
    font-size: 70px;
    color: silver;
    line-height: 123%;
}

.article-meta .categories > a {
    display: block;
    text-align: center;
    font-family: 'Gabriela';
    color: black;
    font-size: 20px;
    color: inherit;
}

.article-meta .categories > a:hover:after {
    content: "~";
}

.article-meta .categories > a:hover:before {
    content: "~";
}

#about-area {
    padding-bottom: 80px;
    -webkit-user-select:none;
    user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
}

#about-area, #about-area *, .projects, .projects * {
    line-height: 1.5em;
}

#about-area li {
    margin-left: 22px;
}

#about-area > ul:first-of-type > li {
    argin-left:0;
    margin-top: 15px;
    list-style-type: upper-roman;

}


#tech-list > li > span:hover{
    cursor:pointer;
    color:#ff475a;
    -webkit-transition:color 100ms;
    transition:color 100ms;
}



#tech-list > li {
    position: relative;
    list-style-type: none;
}
#tech-list > li > span:before {
    position: absolute;
    left:-18px;
    content: ">";
}
#tech-list > li.down > span:before {

    content: "<";
}



#tech-list > li.down > span:after {

    content: " >";
}


#tech-list li li {
    list-style-type: circle;
    -webkit-animation:slide-left-fade-in 200ms;
}

#tech-list  li li li{
    list-style-type: lower-roman;
}


.projects-category {
    margin-bottom: 20px;
}

.project-list li {
    position: relative;
    margin-left: 0;
    margin-bottom: 50px;
    height: 130px;
    list-style-type: none;
    -webkit-animation: slide-right-fade-in 520ms;
}

.project-list li:nth-child(even) {
    text-align: right;
    -webkit-animation: slide-left-fade-in 520ms;
}


.project-list:first-of-type li {
    text-align: right;
}

.project-list:not(:first-of-type) li {
    text-align: left;
}

.project-list li div {
    display: block;
    clear:both;

    max-width:400px;

}
.project-list:first-of-type li div {
    float:right;
}

.project-list:not(:first-of-type) li div {
    float:left;
}

.project-list li div p:first-child{
    font-style: italic;
}

.project-list li div p:nth-child(2):before{
    content: "Developed: ";


}
.project-list li div p:nth-child(3):before{
    content: "Role: ";

}


.project-list li img,
.project-list li .project-image
{
display: block;
position: absolute;

    height: 50px;

}

.project-list:first-of-type li img,
.project-list:first-of-type li .project-image
{
    left:0;

}
.project-list:not(:first-of-type) li img,
.project-list:not(:first-of-type) li .project-image
{
    right:0;

}


.project-image[data-project="cook"]{
    top:5px;
    height: 100px;
    width:200px;
    text-align: center;

    background-color: #ff2723;
    /*background-image: -webkit-repeating-linear-gradient(left, #ff3e3f 0%, #ff2e2e 50%);*/
    background-image: -webkit-repeating-linear-gradient(right, rgb(255, 63, 63) 0%, rgb(255, 63, 63) 50%, rgb(255, 46, 46) 50%, rgb(255, 46, 46) 100%);

    background-image: -ms-repeating-linear-gradient(right, rgb(255, 63, 63) 0%, rgb(255, 63, 63) 50%, rgb(255, 46, 46) 50%, rgb(255, 46, 46) 100%);
    background-image: repeating-linear-gradient(right, rgb(255, 63, 63) 0%, rgb(255, 63, 63) 50%, rgb(255, 46, 46) 50%, rgb(255, 46, 46) 100%);
    color: #dcdcdc;

    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Oleo Script', verdana,sans-serif;
    font-size: 25px;
}


.project-image[data-project]:after{
    position: absolute;
    display: block;
    width:100%;
    top:15%;
    text-align: center;
    content:"COOK.JS";
}

#control-panel > h1 {
    margin-bottom: 35px;
}

#control-panel #cp-nav > a {
    display: block;
    margin: 8px 0;
    color: gray;
    font-size: 20px;
}

#control-panel .manage-nav {
    margin: 10px 0;
}

#cp-table {
    table-layout: fixed;
}

#cp-table td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#cp-table td, #cp-table th {
    padding: 5px 10px;
}

#cp-table tr td:first-child, #cp-table tr th:first-child {
    padding-left: 0;
    max-width: 370px;
}

#cp-table td[data-published="false"]:after {
    content:"unpublished";
    color: #ff475a
}

#cp-table tr td:last-child {
    display: none;
}

#article-editor {
    width: 100%;
}

#article-editor textarea {
    width: 100%;
    display: block;
    resize: none;
}

#article-editor > aside {
    float: left;
}

#article-editor > aside:first-child {
    width: 600px;
    min-height: 300px;
}

#article-editor > aside:last-child {
    position: fixed;
    overflow: auto;
    height: 100%;
    margin-left: 635px;
}

#bu-save-article {
    line-height: 100%;
}

#bu-save-article[data-article-created="false"]:before{
    content: "Create";
}

#bu-save-article[data-article-created="true"]:before{
    content: "Save";
}


#ae-article-read-only-details div[data-published="false"]:after {
    content:'Article Unpublished';
    color:#ff475a;
}

#ae-article-read-only-details div[data-published="true"]:after {
    content:'Article Published';
    color:green;
}

#ae-article-read-only-details > div:not(:first-child) {
    color:grey;
}

#ae-article-read-only-details {
    margin-bottom: 20px;
}

#bu-preview-article {
    margin: 20px 0;
    display: block;
}

#bu-remove-category {
    margin-bottom: 10px;
}

.pictures-grid {
    width: 560px;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;

}

.pictures-grid > div {
    width: 130px;
    height: 130px;
    margin: 0 10px 10px 0;
    background-position: top left;

    -webkit-transition: background 2000ms;
}

.pictures-grid > div:hover {

    background-position: right bottom;
}

.pictures-grid > div:active {

    opacity: 0.7;

}

#comments-section {
    padding: 60px 0 120px 0;
    clear: both;
    width: 600px;
    max-width: 600px;
}

#comments-section > h4 {
    margin-bottom: 5px;
}

#comments-section  ul li {
    margin-bottom: 33px;
    min-height: 80px;
    position: relative;
    list-style-type: none;
}

#comments-section  ul li > img {
    display: block;
    position: absolute;
    left: 0;
    top: 6px;
    width: 70px;
    height: 70px;
    border-radius: 100%;
}

#comments-section  ul li > div {
    line-height: 1.5em;
}

#comments-section ul li > div, #comments-section li > ul, #comments-section ul .comment-form {
    margin-left: 90px;
}

#comments-section .comment-meta {
    color: silver;
    text-align: right;
}

#comments-section .comment-meta > * {
    display: inline;

}

#comments-section .comment-meta > .bu-form-reply-comment {
    margin-top: 3px;
    font-size: 17px;
}

#comments-section ul ul {
    margin-top: 15px;
}

.non-comment-details {
    margin-bottom: 10px;
    width: 100%;
}

.non-comment-details > input {
    width: 140px;
    padding-right: 10px;
    float: left;
}

.non-comment-details > input:last-child {
    padding-right: 0;
    width: 210px;
}

.comment-form {
    margin-top: 12px;
}

.comment-form textarea {
    width: 510px;
    line-height: 1.5em;

}

.comment-form button {
    display: block;
}

#bu-post-comment {
    float: right;
}

.bu-form-reply-comment:after {
    content: "Reply"
}

.bu-form-reply-comment:disabled {
    cursor: default;
    color: #ff475a;
}

.bu-reply-comment {
    float: right;
}