<!DOCTYPE html>
<html>
<head>
    <title>Relfor</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,700italic,300,700,600'
          rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Gabriela' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="../static/css/core.css"/><link rel="stylesheet" type="text/css" href="../static/css/responsive.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/popscript.css"/>
</head>
<body>

<div id="content">
    <div id="left-side">
        <h1 id="head-logo"><a href="home.html">Relfor</a></h1>

        <div id="left-nav">
            <a class="selected-nav hover-link" href="about.html">About</a>
            <a href="projects.html" class="hover-link">Projects</a>

            <form id="search-form" method="get" action="/search"><input value="Search" type="text" id="query"
                                                                        class="hover-link"
                                                                        name="query"
                                                                        autocomplete="off"/></form>
            <ul id="search-suggestions"></ul>
        </div>

    </div>
    <div id="right-side" class="constricted">
        <div id="about-area">
            Hey its Relfor.
            I'm a 19 year old developer, currently
            studying in Toronto. I'm interested in
            computer science, philosophy, chemistry, psychology
            and astrophysics.<br>
            <ul>
                <li>
                    <h6 class="gab">Areas of Technical Expertise</h6>
                    Some of the areas which I'm familiar with:
                    <ul>
                        <li>Web Design (HTML5,CSS3)</li>
                        <li>Front End Programming (Javascript, jQuery)</li>
                        <li>Console Programming (C, Python, Java, Objective C)</li>
                        <li>Desktop Application Programming (Python)</li>
                        <li>Web Development (Flask, Django & CGI (Python) Express (Node.js))</li>
                        <li>Databases and Query Languages (MySQL, PostgresSQL, sqllite, MongoDB, XML, XPath, XQuery)
                        </li>
                        <li>Version Control (SVN and Git)</li>
                        <li>Unix Shell Scripting (Bash)</li>
                    </ul>
                </li>
                <li>
                    <h6 class="gab">User Interface Design / User Experience (UI/UX)</h6>
                    This is an aspect that I have a great deal of priority for. In every step
                    of what I do, which includes coming up with ideas and brainstorming personal
                    projects or designing (before implementing) personal and commercial projects,
                    the experience of the user in my mind. That being said for some
                    reason I've never been convinced by the study of it, in my opinion its too broad and vague
                    to be encapsulated into chapters in a book, or even job postings. Supplying you with
                    this information about my views here has made the page of a longer dimension and has
                    diverted attention away from bullet points above and below this one, however since you
                    are on the 'about' page on this website I most certainly had to tell you how I felt about this
                    aspect as its something which I immensely prioritize, its almost become natural.
                </li>
                <li>
                    <h6 class="gab">Open Source Work</h6>
                    Almost every framework, language or library we use is Open Source. Its
                    one of the greatest revolutions which has ever taken place.<br>
                    Besides uploading whatever code I can publicly for others to use, I've made
                    a few project level contributions:
                    <ul>
                        <li><a href="https://github.com/relfor/oneminute">oneminute</a></li>
                        <li><a href="https://github.com/relfor/popup">popscript</a></li>
                        <li><a href="https://github.com/relfor/power.js">cook</a></li>
                    </ul>
                </li>
                <li>
                    <h6 class="gab">Other Interests</h6>
                    I like reading books, analyzing social trends, following politics (word of warning: I'm highly
                    conservative) and recently playing the guitar.
                    One of the sports which I like playing is squash, its what keeps me fit. I also like
                    playing ping pong. I do not smoke or do drugs, however I occasionally drink alcohol.
                    That's it for me.
                </li>

            </ul>
            <br>
            <h6 class="gab">Contact?</h6>
            You can contact me by sending an email to me@relfor.com
        </div>
    </div>
</div>
<script defer src="../static/js/jquery.js"></script>
<script defer src="../../../cook/cook.js"></script>
<script defer src="../static/js/core.js"></script>
<script defer src="../static/js/search.js"></script>

</body>
</html>