<!DOCTYPE html>
<html>
<head>
    <title>Relfor</title>
    <link rel="stylesheet" type="text/css" href="../static/css/fonts.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/animations.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/core.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/prettify.css"/><link rel="stylesheet" type="text/css" href="../static/css/responsive.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/popscript.css"/>
</head>
<body>

<div id="content">
    <div id="left-side">
        <h1 id="head-logo"><a href="home.html">Relfor</a></h1>

        <div id="left-nav">
            <a class="selected-nav hover-link" href="about.html">About</a>
            <a href="projects.html" class="hover-link">Projects</a>

            <form id="search-form" method="get" action="/search"><input value="Search" type="text" id="query"
                                                                        class="hover-link"
                                                                        name="query"
                                                                        autocomplete="off"/></form>
            <ul id="search-suggestions"></ul>
        </div>

    </div>
    <div id="right-side" class="constricted">
        <div id="about-area">
            Hey its Relfor.<br>
            I'm a 19 year old developer, currently
            studying in Toronto.<br>
            <ul>
                <li>
                    <h6 class="gab">Areas of Technical Expertise</h6>
                    <ul>
                        <li>Web Design (CSS3)</li>
                        <li>Front End Programming (Javascript, jQuery)</li>
                        <li>Console Programming (C, Python, Java, Objective C)</li>
                        <li>Desktop Application Programming (Python)</li>
                        <li>Web Development (Flask, Django & CGI (Python) Express (Node.js))</li>
                        <li>Databases and Query Languages (MySQL, PostgresSQL, sqllite, MongoDB, XML, XPath, XQuery)
                        </li>
                        <li>Version Control (SVN &amp; Git)</li>
                        <li>Unix Shell Scripting (Bash)</li>
                        <li>AWS (EC2, SES, RDS, & S3)</li>
                    </ul>
                </li>
                <li>
                    <h6 class="gab">Full Stack Development</h6>
                    Having worked on every project alone (except Course Run where I got help with one of the logos),
                    doing both the front end and back end, and gluing them together is something that I've gotten a
                    chance to do.
                </li>
                <li>
                    <h6 class="gab">User Interface Design / User Experience (UI/UX)</h6>
                    This is an aspect that I have a great deal of priority for. In every step
                    of what I do, which includes coming up with ideas and brainstorming personal
                    projects or designing (before implementing) personal and commercial projects,
                    the experience of the user in my mind. Unfortunately there is no test score I can give
                    to prove my skill level in this field, my true test lies in the interfaces I've made and
                    if you find them comfortable and easy to use.
                </li>
                <li>
                    <h6 class="gab">Open Source Work</h6>
                    Almost every framework, language or library we use is free and open source. Its
                    one of the greatest revolutions which has ever taken place.<br>
                    Besides uploading whatever code I can publicly for others to use, I've made
                    a few project level contributions:
                    <ul>
                        <li><a href="http://oneminute.relfor.co" class="hover-link">oneminute</a></li>
                        <li><a href="http://popscript.relfor.co" class="hover-link">popscript</a></li>
                        <li><a href="http://cook.relfor.co" class="hover-link">cook</a></li>
                    </ul>
                </li>
                <li>
                    <h6 class="gab">Other Interests</h6>
                    I like following politics (word of warning: I'm highly
                    conservative), reading books, analyzing social trends and recently playing the guitar.
                    One of the sports which I like playing is squash, its what keeps me fit. I also like
                    playing ping pong. I do not smoke or do drugs, however I occasionally drink alcohol.
                    That's it for me.
                </li>

            </ul>
            <br>
            <h6 class="gab">Contact?</h6>
            You can contact me by sending an email to me@relfor.co
        </div>
    </div>
</div>
<script defer src="../static/js/jquery.js"></script>
<script defer src="../static/js/cook.js"></script><script defer src="../static/js/prettify.js"></script>
<script defer src="../static/js/core.js"></script>
<script defer src="../static/js/common.js"></script><script defer src="../static/js/search.js"></script>

</body>
</html>