<!DOCTYPE html>
<html>
<head>
    <title>Relfor</title>


    <link rel="stylesheet" type="text/css" href="../static/css/fonts.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/animations.css"/><link rel="stylesheet" type="text/css" href="../static/css/core.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/prettify.css"/><link rel="stylesheet" type="text/css" href="../static/css/responsive.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/popscript.css"/>
</head>
<body>

<div id="content">
    <div id="left-side">
        <h1 id="head-logo"><a href="home.html">Relfor</a></h1>

        <div id="left-nav">
            <a href="about.html" class="hover-link">About</a>
            <a href="projects.html" class="hover-link">Projects</a>

            <form id="search-form" method="get" action="/search"><input value="Search" type="text" id="query"
                                                                        class="hover-link"
                                                                        name="query"
                                                                        autocomplete="off"/></form>
            <ul id="search-suggestions"></ul>
        </div>

    </div>
    <div id="right-side" class="no-animation">
        <div class="px40 gab" style="margin-bottom: 30px">Category: Unix</div>
        <ul id="articles">
            <li class="article cf" data-link="foo-bar">
                <div>
                    <h1 class="article-head"><a href="article.html" class="hover-link">Lorem Ipsum is simply dummy text
                        of the printing and
                        typesetting industry</a></h1>

                    <div class="article-content">So let's begin: Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                        1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                        book. It has survived not only five centuries, but also the leap into electronic typesetting,
                        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                        sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
                        Aldus PageMaker including versions of Lorem Ipsum. Lorem Ipsum is simply dummy text of the
                        printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                        since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book. It has survived not only five centuries, but also the leap into electronic
                        typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
                        of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                        software like Aldus PageMaker including versions of Lorem Ipsum.
                    </div>
                </div>
                <div class="article-meta">
                    <div data-timestamp="1369692766" data-time-mode="1"></div>
                    <div class="categories">
                        <a href="category.html" class="hover-link">User Experience</a>
                        <a href="category.html" class="hover-link">Start Ups</a>
                    </div>
                </div>
            </li>
            <li class="article cf" data-link="foo-bar">
                <div>

                    <h1 class="article-head"><a href="article.html" class="hover-link">Lorem Ipsum is simply dummy text
                        of the printing and
                        typesetting industry</a></h1>

                    <div class="article-content">So let's begin: Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                        1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                        book. It has survived not only five centuries, but also the leap into electronic typesetting,
                        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                        sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
                        Aldus PageMaker including versions of Lorem Ipsum. Lorem Ipsum is simply dummy text of the
                        printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                        since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book. It has survived not only five centuries, but also the leap into electronic
                        typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
                        of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                        software like Aldus PageMaker including versions of Lorem Ipsum.
                    </div>
                </div>
                <div class="article-meta">
                    <div data-timestamp="1369692766" data-time-mode="1"></div>
                    <div class="categories">
                        <a href="category.html" class="hover-link">User Experience</a>
                        <a href="category.html" class="hover-link">Start Ups</a>
                    </div>
                </div>
            </li>
            <li class="article cf" data-link="foo-bar-last">
                <div>
                    <h1 class="article-head"><a href="article.html" class="hover-link">Lorem Ipsum is simply dummy text
                        of the printing and
                        typesetting industry</a></h1>

                    <div class="article-content">So let's begin: Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                        1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                        book. It has survived not only five centuries, but also the leap into electronic typesetting,
                        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                        sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
                        Aldus PageMaker including versions of Lorem Ipsum. Lorem Ipsum is simply dummy text of the
                        printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                        since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book. It has survived not only five centuries, but also the leap into electronic
                        typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
                        of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                        software like Aldus PageMaker including versions of Lorem Ipsum.
                    </div>
                </div>
                <div class="article-meta">
                    <div data-timestamp="1369692766" data-time-mode="1"></div>
                    <div class="categories">
                        <a href="category.html" class="hover-link">User Experience</a>
                        <a href="category.html" class="hover-link">Start Ups</a>
                    </div>
                </div>
            </li>


        </ul>
    </div>
</div>


<script defer src="../static/js/oneminute.js"></script>
<script defer src="../static/js/jquery.js"></script>
<script defer src="../static/js/cook.js"></script><script defer src="../static/js/prettify.js"></script>
<script defer src="../static/js/core.js"></script>
<script defer src="../static/js/common.js"></script><script defer src="../static/js/search.js"></script>

</body>

</html>