<!DOCTYPE html>
<html>
<head>
    <title>Relfor</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,700italic,300,700,600'
          rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Gabriela' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="../static/css/core.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/responsive.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/popscript.css"/>
</head>
<body>

<div id="content">
    <div id="left-side">
        <h1 id="head-logo"><a href="home.html">Relfor</a></h1>

        <div id="left-nav">
            <a href="about.html" class="hover-link">About</a>
            <a href="projects.html" class="hover-link">Projects</a>

            <form id="search-form" method="get" action="/search"><input value="Search" type="text" id="query"
                                                                        class="hover-link"
                                                                        name="query"
                                                                        autocomplete="off"/></form>
            <ul id="search-suggestions"></ul>
        </div>

    </div>
    <div id="right-side" class="no-animation">
        <div id="control-panel">
            <h1 class="gab"><a href="control-panel.html">Control Panel</a> &gt; Categories </h1>

            <div class="gab manage-nav">
                <button id="bu-new-category" class="hover-link">New Category</button>
            </div>
            <table id="cp-table" class="manage-categories slide-left">

                <tbody>
                <tr data-name="category name 1">
                    <td><a href="category.html" class="hover-link">Command Line</a></td>
                    <td>17 Articles</td>
                    <td></td>
                </tr>
                <tr data-name="category name 2">
                    <td><a href="category.html" class="hover-link">Command Line</a></td>
                    <td>17 Articles</td>
                    <td></td>
                </tr>
                <tr data-name="category name 3">
                    <td><a href="category.html" class="hover-link">Command Line</a></td>
                    <td>17 Articles</td>
                    <td></td>
                </tr>
                <tr data-name="category name 4">
                    <td><a href="category.html" class="hover-link">Command Line</a></td>
                    <td>17 Articles</td>
                    <td></td>
                </tr>
                <tr data-name="category name 5">
                    <td><a href="category.html" class="hover-link">Command Line</a></td>
                    <td>17 Articles</td>
                    <td></td>
                </tr>
                <tr data-name="category name 6">
                    <td><a href="category.html" class="hover-link">Command Line</a></td>
                    <td>17 Articles</td>
                    <td></td>
                </tr>
                <tr data-name="category name 7">
                    <td><a href="category.html" class="hover-link">Command Line</a></td>
                    <td>17 Articles</td>
                    <td></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
<script defer src="../static/js/oneminute.js"></script>
<script defer src="../static/js/popscript.js"></script>
<script defer src="../static/js/jquery.js"></script>
<script defer src="../static/js/cook.js"></script>

<script defer src="../static/js/core.js"></script>
<script defer src="../static/js/search.js"></script>
<script defer src="../static/js/control-panel.js"></script>

</body>
</html>