<!DOCTYPE html>
<html>
<head>
    <title>Relfor</title>



    <link rel="stylesheet" type="text/css" href="../static/css/fonts.css"/><link rel="stylesheet" type="text/css" href="../static/css/animations.css"/><link rel="stylesheet" type="text/css" href="../static/css/core.css"/><link rel="stylesheet" type="text/css" href="../static/css/responsive.css"/><link rel="stylesheet" type="text/css" href="../static/css/popscript.css"/>
</head>
<body>

<div id="content">
    <div id="left-side">
        <h1 id="head-logo"><a href="home.html">Relfor</a></h1>

        <div id="left-nav">
            <a href="about.html" class="hover-link">About</a>
            <a href="projects.html" class="hover-link">Projects</a>

            <form id="search-form" method="get" action="/search"><input value="Search" type="text" id="query"
                                                                        class="hover-link"
                                                                        name="query"
                                                                        autocomplete="off"/></form>
            <ul id="search-suggestions"></ul>
        </div>

    </div>
    <div id="right-side" class="no-animation">
        <div id="control-panel">
            <h1 class="gab"><a href="control-panel.html">Control Panel</a> &gt; Pictures </h1>
            <div class="gab manage-nav" ><button id="bu-form-upload-picture" class="hover-link">Upload</button></div>
            <div class="pictures-grid">
                <!--<div style="background-image: url('../static/imgs/sample/0.jpg')"></div>
                <div style="background-image: url('../static/imgs/sample/1.jpg')"></div>
                <div style="background-image: url('../static/imgs/sample/10.jpg')"></div>
                <div style="background-image: url('../static/imgs/sample/11.jpg')"></div>
                <div style="background-image: url('../static/imgs/sample/12.jpg')"></div>
                <div style="background-image: url('../static/imgs/sample/13.jpg')"></div>
                <div style="background-image: url('../static/imgs/sample/14.jpg')"></div>
                <div style="background-image: url('../static/imgs/sample/15.jpg')"></div>
                <div style="background-image: url('../static/imgs/sample/2.jpg')"></div>
                <div style="background-image: url('../static/imgs/sample/3.jpg')"></div>
                <div style="background-image: url('../static/imgs/sample/4.jpg')"></div>
                <div style="background-image: url('../static/imgs/sample/5.jpg')"></div>
                <div style="background-image: url('../static/imgs/sample/6.jpg')"></div>
                <div style="background-image: url('../static/imgs/sample/7.jpg')"></div>
                <div style="background-image: url('../static/imgs/sample/8.jpg')"></div>
                <div style="background-image: url('../static/imgs/sample/9.jpg')"></div>-->
                <div style="background-image: url('http://lorempixel.com/400/300/abstract/')"></div>
                <div style="background-image: url('http://lorempixel.com/400/300/sports/')"></div>
                <div style="background-image: url('http://lorempixel.com/400/300/people/')"></div>
                <div style="background-image: url('http://lorempixel.com/400/300/transport/')"></div>
                <div style="background-image: url('http://lorempixel.com/400/300/animals/')"></div>
                <div style="background-image: url('http://lorempixel.com/400/300/food/')"></div>
                <div style="background-image: url('http://lorempixel.com/400/300/nature/')"></div>
                <div style="background-image: url('http://lorempixel.com/400/300/business/')"></div>
                <div style="background-image: url('http://lorempixel.com/400/300/nightlife/')"></div>
                <div style="background-image: url('http://lorempixel.com/400/300/fashion/')"></div>
                <div style="background-image: url('http://lorempixel.com/400/300/cats/')"></div>
                <div style="background-image: url('http://lorempixel.com/400/300/technics/')"></div>


            </div>
        </div>
    </div>
</div>
<script defer src="../static/js/oneminute.js"></script>
<script defer src="../static/js/popscript.js"></script>
<script defer src="../static/js/jquery.js"></script>
<script defer src="../static/js/cook.js"></script>

<script defer src="../static/js/core.js"></script>
<script defer src="../static/js/search.js"></script>
<script defer src="../static/js/control-panel.js"></script>

</body>
</html>