<!DOCTYPE html>
<html>
<head>
    <title>Relfor</title>



    <link rel="stylesheet" type="text/css" href="../static/css/fonts.css"/><link rel="stylesheet" type="text/css" href="../static/css/animations.css"/><link rel="stylesheet" type="text/css" href="../static/css/core.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/prettify.css"/><link rel="stylesheet" type="text/css" href="../static/css/responsive.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/popscript.css"/>
</head>
<body>

<div id="content">
    <div id="left-side">
        <h1 id="head-logo"><a href="home.html">Relfor</a></h1>

        <div id="left-nav">
            <a href="about.html" class="hover-link">About</a>
            <a href="projects.html" class="hover-link">Projects</a>

            <form id="search-form" method="get" action="/search"><input value="Search" type="text" id="query"
                                                                        class="hover-link"
                                                                        name="query"
                                                                        autocomplete="off"/></form>
            <ul id="search-suggestions"></ul>
        </div>

    </div>
    <div id="right-side" class="no-animation">
        <div id="control-panel">
            <h1 class="gab"><a href="control-panel.html">Control Panel</a> &gt; Articles </h1>

            <div class="manage-nav"><a href="write-article.html" class="button">Write Article</a></div>
            <table id="cp-table" class="manage-articles slide-left">

                <tbody>
                <tr data-link="article-name-1">
                    <td><a href="edit-article.html" class="hover-link">Lorem ipsum dada lique and blah trabba hulu</a>
                    </td>
                    <td data-timestamp="1302384200" data-time-mode="2"></td>
                    <td data-published="false"></td>
                    <td></td>
                </tr>
                <tr data-link="article-name-2">
                    <td><a href="edit-article.html" class="hover-link">Lorem ipsum dada lique and blah trabba hulu</a>
                    </td>
                    <td data-timestamp="1302384200" data-time-mode="2"></td>
                    <td data-published="true"></td>
                    <td></td>
                </tr>
                <tr data-link="article-name-3">
                    <td><a href="edit-article.html" class="hover-link">Lorem ipsum dada lique and blah trabba hulu</a>
                    </td>
                    <td data-timestamp="1302384200" data-time-mode="2"></td>
                    <td data-published="true"></td>
                    <td></td>
                </tr>
                <tr data-link="article-name-4">
                    <td><a href="edit-article.html" class="hover-link">Lorem ipsum dada lique and blah trabba hulu</a>
                    </td>
                    <td data-timestamp="1302384200" data-time-mode="2"></td>
                    <td data-published="0"></td>
                    <td></td>
                </tr>
                <tr data-link="article-name-5">
                    <td><a href="edit-article.html" class="hover-link">Lorem ipsum dada lique and blah trabba hulu</a>
                    </td>
                    <td data-timestamp="1302384200" data-time-mode="2"></td>
                    <td data-published="true"></td>
                    <td></td>
                </tr>
                <tr data-link="article-name-6">
                    <td><a href="edit-article.html" class="hover-link">Lorem ipsum dada lique and blah trabba hulu</a>
                    </td>
                    <td data-timestamp="1302384200" data-time-mode="2"></td>
                    <td data-published="true"></td>
                    <td></td>
                </tr>
                <tr data-link="article-name-7">
                    <td><a href="edit-article.html" class="hover-link">Lorem ipsum dada lique and blah trabba hulu</a>
                    </td>
                    <td data-timestamp="1302384200" data-time-mode="2"></td>
                    <td data-published="true"></td>
                    <td></td>
                </tr>
                <tr data-link="article-name-8">
                    <td><a href="edit-article.html" class="hover-link">Lorem ipsum dada lique and blah trabba hulu</a>
                    </td>
                    <td data-timestamp="1302384200" data-time-mode="2"></td>
                    <td data-published="true"></td>
                    <td></td>
                </tr>
                <tr data-link="article-name-9">
                    <td><a href="edit-article.html" class="hover-link">Lorem ipsum dada lique and blah trabba hulu</a>
                    </td>
                    <td data-timestamp="1302384200" data-time-mode="2"></td>
                    <td data-published="true"></td>
                    <td></td>
                </tr>
                <tr data-link="article-name-10">
                    <td><a href="edit-article.html" class="hover-link">Lorem ipsum dada lique and blah trabba hulu</a>
                    </td>
                    <td data-timestamp="1302384200" data-time-mode="2"></td>
                    <td data-published="true"></td>
                    <td></td>
                </tr>
                <tr data-link="article-name-11">
                    <td><a href="edit-article.html" class="hover-link">Lorem ipsum dada lique and blah trabba hulu</a>
                    </td>
                    <td data-timestamp="1302384200" data-time-mode="2"></td>
                    <td data-published="true"></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script defer src="../static/js/oneminute.js"></script>
<script defer src="../static/js/popscript.js"></script>
<script defer src="../static/js/jquery.js"></script>
<script defer src="../static/js/cook.js"></script><script defer src="../static/js/prettify.js"></script>

<script defer src="../static/js/core.js"></script>
<script defer src="../static/js/control-panel.js"></script>
<script defer src="../static/js/common.js"></script><script defer src="../static/js/search.js"></script>

</body>
</html>