<!DOCTYPE html>
<html>
<head>
    <title>Relfor</title>


    <link rel="stylesheet" type="text/css" href="../static/css/fonts.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/animations.css"/><link rel="stylesheet" type="text/css" href="../static/css/core.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/responsive.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/popscript.css"/>
</head>
<body>

<div id="content">
    <div id="left-side">
        <h1 id="head-logo"><a href="home.html">Relfor</a></h1>

        <div id="left-nav">

            <a href="about.html" class="hover-link">About</a>
            <a class="selected-nav hover-link" href="projects.html">Projects</a>

            <form id="search-form" method="get" action="/search"><input value="Search" type="text" id="query"
                                                                        class="hover-link" name="query"
                                                                        autocomplete="off"/></form>
            <ul id="search-suggestions"></ul>
        </div>
    </div>
    <div id="right-side" class="constricted projects no-animation">

        <div class="projects-category">Web Applications made since November 2011 in Chronological Order:</div>
        <ul class="project-list">
            <li>
                <img src="../static/imgs/course_run_head.png"/>
                <h4 class="gab">Course Run</h4>
                Course Search & Filter Engine for University of Toronto students.<br>
                Developed between: November 2011 - August 2012
                <p>
                    Search and Filter Engine for selecting courses at University of Toronto.<br>
                    Project started in freshman year in November of 2011. The database was created
                    by parsing the online calendar and the online timetable. No more development on this
                    one since mid 2012.
                </p>
            </li>
            <li>
                <img src="../static/imgs/sgsc-main-logo.png"/>
                <h4 class="gab">University of Toronto Squash Club</h4>

                Presentational website and social network for a squash club at University of Toronto.<br>
                Developed between: February 2011 - December 2012
                <p>
                    A Social Network and Portal for players at the squash club at University of Toronto.<br>
                    Includes a page like feed, a court booking display and a tournament ladder scoreboard keeper.
                </p>
            </li>
            <li>
                <img src="../static/imgs/innis-box.png"/>
                <h4 class="gab">Innis Box</h4>

                Article and Task Management System for the Innis College Registrar.<br>
                Developed between: March 2013 - May 2013
                <p>
                    A Content Management Network built for the registrar at Innis College (University of Toronto) to
                    schedule tasks, post on a page like feed, categorize and write articles.
                </p>
            </li>

            <li>
                <img src="../static/imgs/torbok.png"/>
                <h4 class="gab">Torbok</h4>

                Book Trading Network for students studying at Universities across Greater Toronto Area.<br>
                Developed: May 2013
                <p>
                    A Book Exchange Network for students studying at universities located in the Greater Toronto Area.
                </p>
            </li>
        </ul>


    </div>
</div>
<script src="../static/js/jquery.js"></script>
<script src="../static/js/cook.js"></script>
<script src="../static/js/core.js"></script>
<script src="../static/js/search.js"></script>

</body>
</html>