<!DOCTYPE html>
<html>
<head>
    <title>Relfor</title>


    <link rel="stylesheet" type="text/css" href="../static/css/fonts.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/animations.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/core.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/search.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/prettify.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/responsive.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/popscript.css"/>
</head>
<body>

<div id="content">
    <div id="left-side">
        <h1 id="head-logo"><a href="/">Relfor</a></h1>

        <div id="left-nav">

            <a href="/about" class="hover-link">About</a>
            <a class="selected-nav hover-link" href="/projects">Projects</a>

            <form id="search-form" method="get" action="/search"><input value="Search" type="text" id="query"
                                                                        class="hover-link" name="query" maxlength="100"
                                                                        autocomplete="off"/></form>
            <ul id="search-suggestions"></ul>
        </div>
    </div>
    <div id="right-side" class="constricted projects no-animation">

        <div class="projects-category">Projects done since November 2011:</div>
        <ul class="project-list">
            <li>
                <img src="../static/imgs/course_run_head.png"/>
                <h4 class="gab"><a class="hover-link" href="http://courserun.ca">Course Run</a></h4>

                <div>
                    <p>Course Search & Filter Engine for<br>
                        University of Toronto students.</p>

                    <p>November 2011 - August 2012</p>

                    <p>Founder & Developer</p>
                </div>

            </li>
            <li>
                <img src="../static/imgs/sgsc-main-logo.png"/>
                <h4 class="gab"><a class="hover-link" href="http://uoftsquash.com">University of Toronto Squash Club</a>
                </h4>

                <div>
                    <p>Presentational website and social network for a squash club at University of Toronto.</p>

                    <p>February 2011 - December 2012</p>

                    <p>Developer & (Former) Executive of the Club</p>
                </div>
            </li>
            <li>
                <img src="../static/imgs/innis-box.png"/>
                <h4 class="gab"><a class="hover-link" href="http://innisbox.com">Innis Box</a></h4>

                <div>
                    <p>Article and Task Management System<br>for the Innis College Registrar.</p>

                    <p>March 2013 - July 2013</p>

                    <p>Freelance Developer</p>
                </div>
            </li>

            <li>
                <img src="../static/imgs/torbok.png"/>
                <h4 class="gab"><a class="hover-link" href="http://torbok.com">Torbok</a></h4>

                <div>
                    <p>Book Trading Network for students studying at<br>Universities across Greater Toronto Area.</p>

                    <p>May 2013</p>

                    <p>Founder & Developer</p>
                </div>
            </li>

        </ul>
        <div class="projects-category">Open Source</div>
        <ul class="project-list">
            <li>
                <img src="../static/imgs/oneminute.png"/>
                <h4 class="gab"><a class="hover-link" href="http://oneminute.relfor.co">oneminute.js</a></h4>

                <div>
                    <p>An open source (BSD) JavaScript library which converts integer timestamps to meaningful text conveying
                        time differences, and/or dates.</p>

                    <p>December 2012 - May 2013</p>

                    <p>Creator</p>
                </div>
            </li>
            <li>
                <div class="project-image" data-project="cook"></div>
                <h4 class="gab"><a class="hover-link" href="http://cook.relfor.co">Cook</a></h4>

                <div>
                    <p>A BSD licensed open source JavaScript library providing functions to facilitate
                        easier creation of DOM elements, on the browser side.</p>

                    <p>November 2012 - June 2013</p>

                    <p>Creator</p>
                </div>
            </li>



        </ul>


    </div>
</div>
<script src="../static/js/jquery.js"></script>
<script src="../static/js/cook.js"></script>
<script src="../static/js/core.js"></script>
<script src="../static/js/search.js"></script>

</body>
</html>